<div class="text-left px-6 gap-3 flex-col flex">
  <app-project-entry *ngFor="let project of projects;index as projectIndex" [project]="project" [index]="projectIndex"/>
</div>

<!--    <img class="w-1/3" src="assets/gravity_smash.png" alt="plant mate">-->
<!--    <img class="w-1/3" src="assets/practrack.png" alt="plant mate">-->
<!--    <img class="w-1/3" src="assets/profs_to_pick.png" alt="plant mate">-->
<!--    <img class="w-1/3" src="assets/al_diner.png" alt="plant mate">-->
<!--    <img class="w-1/3" src="assets/plant_mate.png" alt="plant mate">-->



