<app-reveal
  class="z-0 grow h-full flex flex-col justify-center items-center text-neutral-950 dark:text-neutral-50 gap-2 pb-5 sm:pb-0 transition-transform transition-scale duration-500 ease-in-out"
  [ngClass]="{'scale-100 translate-x-0': inView, 'scale-0 -translate-x-[256px]': !inView}"
  (inView)="setInView($event)">
  <div class="flex bg-cyan-300 dark:bg-cyan-700 w-[95%] sm:w-3/4 border-solid border-2 border-cyan-300 dark:border-cyan-700 rounded-md text-center">
    <div
      *ngFor="let tab of tabs; index as i"
      class="grow rounded basis-0 py-2"
      (click) = "changeTab(i)"
      [ngClass]="{'bg-cyan-50 dark:bg-cyan-950': active == i, 'text-neutral-600 dark:text-neutral-300': active!=i}">
      {{tab}}
    </div>
  </div>
  <div
    class="sm:grow-0 grow bg-cyan-50 dark:bg-cyan-950 w-[95%] flex flex-col gap-4 sm:w-3/4 border-solid border-2 border-cyan-300 dark:border-cyan-700 rounded-md sm:min-h-[70vh] sm:max-h-[70vh] text-center py-3 overflow-y-auto py-5 ">
    <div *ngFor="let item of skills | keyvalue" class="w-[80%] mx-auto flex flex-col gap-2">

      <div class="relative overflow-hidden w-90 sm:w-full">
        <div
          class="relative transition-opacity transform duration-500 ease-in-out delay-200"
          [ngClass]="{ 'opacity-100 translate-y-0': inView, 'opacity-0 translate-y-20': !inView }"
        >
          <p class="text-xl text-center sm:m-0 mx-5">
            {{item.key}}
          </p>
        </div>
      </div>
      <div class="flex gap-1 flex-wrap justify-center">
        <img *ngFor="let icon of item.value" [src]="'https://skillicons.dev/icons?i='+icon+'&theme='+mode" alt="">
      </div>
    </div>
  </div>
</app-reveal>
