<app-reveal
  class="z-0 grow h-full flex flex-col justify-center items-center text-neutral-950 dark:text-neutral-50 gap-2 pb-5 sm:pb-0 transition-transform transition-scale duration-500 ease-in-out"
  [ngClass]="{'scale-100 translate-x-0': inView, 'scale-0 -translate-x-[50%]': !inView}"
  (inView)="setInView($event)">
  <app-tab
    class="w-[80%] mx-auto flex flex-col gap-2"
    [tabs]="tabs"
    (emitActive)="changeTab($event)">
    <ng-container *ngIf="active==2">
      <app-skills
        [skills] = "skills"
        class="gap-3 flex-col flex"
      />
    </ng-container>

    <ng-container *ngIf="active==1">
      <app-roles [roles] = "roles"/>
    </ng-container>

    <ng-container *ngIf="active==0">
      <app-projects [projects]="projects"/>
    </ng-container>
  </app-tab>
  <div class="h-[300vh] flex flex-col justify-start bg-gradient-to-b from-cyan-500 to-red-500" >
    <svg class="w-full"#parallaxContainer viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
      <path fill="#FF0066" d="M43.5,-51.6C50.9,-45.5,47.9,-26.7,52.3,-8.3C56.7,10.2,68.5,28.2,64.3,38.6C60.1,49.1,40,51.8,23.2,53.4C6.4,55.1,-7,55.6,-16.7,50.2C-26.5,44.8,-32.6,33.6,-38.2,22.7C-43.7,11.7,-48.8,1.1,-47.3,-8.5C-45.8,-18.1,-37.8,-26.8,-28.8,-32.6C-19.8,-38.4,-9.9,-41.3,4,-46.1C18,-50.9,36,-57.6,43.5,-51.6Z" transform="translate(100 100)" />
    </svg>
  </div>
</app-reveal>

